@import '../mixins';
@import '../variables';

.broadcast {


    &__wrapper {
        @media screen and (min-width: $md2 + 1 + px) {
            display: flex;
        }
        @media screen and (max-width: $md2 + px) {
            max-width: 500px;
        }
    }   

    &__video {
        position: relative;

        @media screen and (min-width: $md2 + 1 + px) {
            flex: 1;
            height: 0;
            margin-right: 20px;

            padding-bottom: 45.48%;
            &_wide {
                padding-bottom: 34.1%;
            }
        }

        @media screen and (max-width: $md2 + px) {
            width: 100%;
            margin-bottom: 20px;

            padding-bottom: 75%;
            &_wide {
                padding-bottom: 56.2%;
            }
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    &__chat {
        position: relative;

        @media screen and (min-width: $md2 + 1 + px) {
            flex: 0 0 37%;
        }

        @media screen and (max-width: $md2 + px) {
            width: 100%;
            height: 400px;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}
