@import '../mixins';
@import '../variables';

// Check

.check {
    position: relative;
    padding-left: 2.22em;

    // Input

    &__input {
        appearance: none;
    }

    // Box

    &__box {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: 1.43em;
        height: 1.43em;
        border-radius: 0.4em;
        border: 0.15em solid #6A25FF;
        
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 60% 70%;
        background-size: 90%;

        transition: all 0.3s ease;
    }

    &__input:focus + &__box {
        box-shadow: 0 0 0 0.2rem rgba(114, 94, 195, 0.2);
    }

    // cheked state
    &__input:checked + &__box {
        background-color: #6A25FF;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2L5.125 10L2 6.36364' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}