@import '../mixins';
@import '../variables';

.instruction-note {
    position: relative;
    padding-left: 155px;

    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 155px;
        align-items: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__header {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        color: #393939;
        
        margin-bottom: 10px;
    }

    &__text {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #757575;
    }
}
