
// Menu

.menu {

    // Button

    &__button {
        display: none;
        @media screen and (max-width: $md3 + px) {
            display: block;
            background: none;
            border: none;
        }
    }

    // Burger

    &__burger {
        position: relative;
        width: 30px;
        height: 20px;
    }

    // Burger line

    &__burger-line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: all 0.3s ease;

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 9px;
        }
        &:nth-child(3) {
            bottom: 0;
        }
    }

    // Active modificator when menu is opened

    &__button_active &__burger-line {
        &:nth-child(1) {
            transform: rotate(-45deg);
            top: 9px;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(45deg);
            bottom: 9px;
        }
    }

    // Body

    &__body {
        @media screen and (max-width: $md3 + px) {

            // Opened modificator when menu-body should be opened

            &_open {

            }

            // hide all inner elements when not active (to avoid focus by TAB key)
            &:not(.menu__body_open) * {
                display: none;
            }
        }
    }

    // List

    &__list {

    }

    // Link

    &__link {

        // Current modificator on current page link

        &_current {
            
        }
    }
}