@import '../mixins';
@import '../variables';

$popup-mobile: 450;

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(75, 75, 75, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1002;

    &__window {
        position: relative;
        width: 610px;
        max-width: 90%;
        padding: 50px 80px 55px 80px;
        text-align: center;

        @media screen and (max-width: $popup-mobile + px) {
            padding: 20px 15px 30px 15px;
        }
    }

    &__cross {
        position: absolute;
        top: 25px;
        right: 22px;

        padding: 0;
        margin: 0;
        border: 0;
        background: none;

        @media screen and (max-width: $popup-mobile + px) {
            top: 15px;
            right: 12px;
        }

        img {
            @media screen and (max-width: $popup-mobile + px) {
                width: 15px;
            }
        }
    }

    &__img {

        img {
            @media screen and (max-width: $popup-mobile + px) {
                height: 90px;
            }
        }

        &_smaller {

            img {
                @media screen and (max-width: $popup-mobile + px) {
                    height: 70px;
                }
            }
        }
    }

    &__img + &__title {
        margin-top: 15px;
    }

    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #000;

        margin-bottom: 8px;

        @media screen and (max-width: $popup-mobile + px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__text {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #B1B1B1;

        margin: 0 0 40px 0;

        @media screen and (max-width: $popup-mobile + px) {
            font-size: 12px;
            line-height: 16px;

            margin-bottom: 20px;
        }
    }

    &__button {
        min-width: 197px;

        @media screen and (max-width: $popup-mobile + px) {
            height: 35px;
            line-height: 35px;
            font-size: 12px;
            border-radius: 3px;
        }
    }

    &_payment &__window {
        padding: 40px 70px 45px 70px;
        width: 460px;

        @media screen and (max-width: $popup-mobile + px) {
            padding: 20px 15px 30px 15px;
        }
    }

    &_payment &__img + &__title {
        margin-top: 30px;

        @media screen and (max-width: $popup-mobile + px) {
            margin-top: 20px;
        }
    }

    &_payment &__title {
        font-size: 20px;
        line-height: 24px;

        margin-bottom: 17px;

        @media screen and (max-width: $popup-mobile + px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__form {
        margin-top: 45px;
        margin-bottom: 30px;

        @media screen and (max-width: $popup-mobile + px) {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }

    &__form-label {
        display: block;
        text-align: left;

        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000;

        margin: 14px 0 12px 0;

        @media screen and (max-width: $popup-mobile + px) {
            font-size: 12px;
            line-height: 16px;

            margin: 12px 0 7px 0;
        }
    }

    &__form-input {

        @media screen and (max-width: $popup-mobile + px) {

        }
    }

    &__form-option {
    }

    &__note {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #BCBCBC;

        margin: 25px 0 0 0;

        @media screen and (max-width: $popup-mobile + px) {
            font-size: 10px;
            margin-top: 20px;
        }
    }
}