@import '../mixins';
@import '../variables';

.status-block {

    &_grey {
        --bg-color: #ECECEC;
        --header-color: #8F8F8F;
        --text-color: #565656;
    }
    &_red {
        --bg-color: #FFE2E2;
        --header-color: #FD6949;
        --text-color: #565656;
    }
    &_yellow {
        --bg-color: #FDFFB3;
        --header-color: #FFBA07;
        --text-color: #565656;
    }
    &_green {
        --bg-color: #EAFFC8;
        --header-color: #619747;
        --text-color: #565656;
    }

    position: relative;
    // max-width: 421px;
    min-height: 76px;
    padding: 10px 30px;
    background: var(--bg-color, #ECECEC);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 3px;

    border-left: 5px solid var(--header-color, #8F8F8F);
    
    @media screen and (max-width: $md4 + px) {
        min-height: 65px;
        padding: 10px 18px;
    }

    &__title {
        margin: 0;

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--header-color, #8F8F8F);
    }

    &__text {
        margin: 0;

        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: var(--text-color, #565656);
    }
}
