@import '../mixins';
@import '../variables';

body {
    counter-reset: stepcard;
}

.step-card {
    position: relative;
    padding: 40px 75px 45px 155px;
    margin-top: 55px;

    @media screen and (max-width: $md3 + px) {
        padding: 110px 40px 35px 40px;
    }
    @media screen and (max-width: $md4 + px) {
        padding: 95px 25px 25px 25px;
    }

    &::before {
        counter-increment: stepcard;
        content: counter(stepcard);

        font-family: Montserrat, sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 57px;
        text-align: center;
        color: #fff;

        display: block;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        background: var(--accent-color, #6A25FF);

        position: absolute;
        top: 40px;
        left: 40px;

        @media screen and (max-width: $md3 + px) {
            top: 30px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
        @media screen and (max-width: $md4 + px) {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 22px;
            top: 25px;
        }
    }

    &__header {
        font-family: Montserrat, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: var(--card-title-color, #393939);

        margin-bottom: 10px;

        @media screen and (max-width: $md3 + px) {
            text-align: center;
        }
        @media screen and (max-width: $md4 + px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__sub-header {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #A0A0A0;

        margin: 5px 0 0 0;

        @media screen and (max-width: $md3 + px) {
            text-align: center;
        }
        @media screen and (max-width: $md4 + px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__paragraph {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #A0A0A0;
        margin: 0;
        margin-top: 20px;

        @media screen and (max-width: $md4 + px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__media-wrapper {
        display: flex;
        flex-wrap: wrap;

        & > * {
            margin: 20px 30px;
        }
        margin: calc(40px - 20px) -30px;

        @media screen and (max-width: 900px) {
            & > * {
                margin: 10px 15px;
            }
            margin: calc(40px - 10px) -15px;
        }
        @media screen and (max-width: $md3 + px) {
            margin: calc(30px - 10px) -15px;
        }
        @media screen and (max-width: $md4 + px) {
            justify-content: center;
        }
    }

    &__media {
        position: relative;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;

        @media screen and (max-width: 900px) {
            &_horizontal {
                max-width: 200px;
            }
            &_vertical {
                max-width: 150px;
            }
        }
    }

    &__media-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__media-hover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(67, 67, 67, 0.5);
        border-radius: inherit;

        opacity: 0;
        transition: all 0.3s ease;
    }

    &__media:hover &__media-hover {
        opacity: 1;
    }
    
    &__title {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: var(--card-title-color, #393939);

        margin-top: 33px;
        margin-bottom: 30px;

        @media screen and (max-width: $md4 + px) {
            font-size: 13px;
            line-height: 18px;

            margin-top: 20px;
            margin-bottom: 15px;
        }
    }

    &__form {
        margin-top: 50px;
        margin-bottom: 35px;

        @media screen and (max-width: $md3 + px) {
            margin-top: 30px;
            margin-bottom: 25px;
        }
    }

    &__form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: column;
        column-gap: 137px;
        row-gap: 18px;

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(9, 1fr);
        }
        @media screen and (max-width: $md4 + px) {
            row-gap: 10px;
        }
    }

    &__form-field {
        position: relative;

        @media screen and (max-width: $md3 + px) and (min-width: $md4 + 1 + px) {
            margin-left: 100px;
        }

        &_wide {
            @media screen and (min-width: 901px) {
                grid-column: span 2;
            }
        }
    }

    &__form-label {

        @media screen and (min-width: $md3 + 1 + px) {
            padding-right: 24px;
        }
        @media screen and (min-width: $md4 + 1 + px) {
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translate3d(0, -50%, 0);
            width: 100px;
            text-align: right;
            padding-right: 15px;
        }
        @media screen and (max-width: $md4 + px) {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 5px;
        }
    }

    &__button {
        @media screen and (max-width: $md4 + px) {
            height: 45px;
            font-size: 12px;
            line-height: 17px;
        }
    }

    &__form-submit {
        margin-top: 40px;

        @media screen and (max-width: $md3 + px) {
            margin-top: 25px;
        }
    }

    &__controls-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & > * {
            margin: 8px 20px;
        }

        margin: -8px -20px calc(35px - 8px) -20px;

        @media screen and (max-width: $md4 + px) {
            // grid-template-columns: max-content;
        }
    }

    &__control {
        display: flex;
        align-items: center;
    }

    &__control-img {
        margin-right: 10px;
    }

    &__control-text {
        margin: 0;

        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color:var(--card-title-color, #393939);

        &_bold {
            font-weight: 900;
        }

        @media screen and (max-width: $md4 + px) {
            font-size: 13px;
            line-height: 16px;
        }
    }
    
    &__doc-list {
        padding: 0;
        margin-top: 50px;
        margin-bottom: 20px;

        @media screen and (max-width: $md3 + px) {
            margin-top: 30px;
        }
    }

    &__doc-list-item {
        list-style: none;
        margin-top: 20px;
    }

    &__doc-list-header {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: var(--card-title-color, #393939);

        margin-bottom: 10px;

        @media screen and (max-width: $md4 + px) {
            font-size: 13px;
            line-height: 15px;
        }
    }

    &__doc-list-text {
        font-family: Roboto, sans-serif;
        font-size: 13px;
        line-height: 15px;
        color: #A0A0A0;

        margin: 0;

        @media screen and (max-width: $md4 + px) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
