@import '../mixins';
@import '../variables';

.tarif {
    padding: 40px 30px 27px 30px;
    max-width: 333px;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: $md4 + px) {
        max-width: 290px;
        padding: 30px 20px 18px 20px;
    }

    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 29px;
        text-transform: uppercase;
        text-align: center;
        color: #6821FF;

        margin: 0;

        @media screen and (max-width: $md4 + px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__sub-title {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #BCBCBC;

        flex: 1;
        display: flex;
        align-items: center;

        margin: 20px 0px 20px 0px;

        @media screen and (max-width: $md4 + px) {
            font-size: 13px;
            line-height: 16px;
            margin: 15px 0px 13px 0px;
        }
    }

    &__separator {
        width: 100%;
        max-width: 248px;
        height: 3px;
        background: #F8F8F8;
        margin: 0 auto;

        @media screen and (max-width: $md4 + px) {
            height: 2px;
        }
    }

    &__list {
        list-style: none;
        margin: 25px 0px 25px 0px;

        @media screen and (max-width: $md4 + px) {
            margin: 25px 0px 20px 0px;
        }
    }

    &__option {
        position: relative;

        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #404040;

        @media screen and (max-width: $md4 + px) {
            font-size: 13px;
        }

        &:not(:last-child) {
            margin-bottom: 9px;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            width: 18px;
            text-align: center;
        }

        &_yes {
            &::after {
                content: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2L6.375 13L2 8' stroke='%23D7EA53' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }

        &_no {
            &::after {
                content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.50328 6.39385L12.4591 2.43806C12.8962 2.00098 12.8962 1.29237 12.4591 0.855983L11.9317 0.328625C11.4945 -0.108586 10.7859 -0.108586 10.3495 0.328625L6.39385 4.28429L2.43806 0.327806C2.00098 -0.109269 1.29237 -0.109269 0.855983 0.327806L0.327806 0.855163C-0.109269 1.29237 -0.109269 2.00098 0.327806 2.43737L4.28429 6.39385L0.328625 10.3495C-0.108586 10.7867 -0.108586 11.4953 0.328625 11.9317L0.855983 12.4591C1.29306 12.8962 2.00166 12.8962 2.43806 12.4591L6.39385 8.50328L10.3495 12.4591C10.7867 12.8962 11.4953 12.8962 11.9317 12.4591L12.4591 11.9317C12.8962 11.4945 12.8962 10.7859 12.4591 10.3495L8.50328 6.39385Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
            }
        }
    }

    #tarifs-wrapper &__dropdown {
        position: relative;
        width: 100%;
        margin-right: 20px;
    }

    #tarifs-wrapper &__dropdown-button {
        position: relative;
        width: 100%;
        text-align: left;
        z-index: 2;

        &::after {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translate3d(0, -50%, 0);
        }
    }

    #tarifs-wrapper &__dropdown-menu {
        width: 100%;
        margin: 0;
        z-index: 1;

        background: #fff;
        border: 1px solid #E7EEF3;
        box-sizing: border-box;
    }

    #tarifs-wrapper &__dropdown-menu[x-placement="bottom-start"] {
        border-radius: 0 0 5px 5px;
        margin-top: -15px;
        padding: 30px 25px 15px 20px;
    }
    #tarifs-wrapper &__dropdown-menu[x-placement="top-start"] {
        border-radius: 5px 5px 0 0;
        margin-bottom: -15px;
        padding: 15px 25px 30px 20px;
    }

    #tarifs-wrapper &__dropdown-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        height: 33px;

        &:not(:last-child) {
            // margin-bottom: 13px;
        }
    }

    #tarifs-wrapper &__dropdown-text {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #93979E;
    }

    #tarifs-wrapper &__dropdown-discond {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        border-radius: 5px;
        
        width: 40px;
        text-align: center;

        height: 21px;
        line-height: 21px;

        &_small {
            background: rgba(237, 28, 36, 0.6);
        }
        &_mid {
            background: rgba(237, 28, 36, 0.8);
        }
        &_extra {
            background: rgba(237, 28, 36, 1);
        }
    }

    &__form {
    }

    &__form-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__label {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #93979E;

        margin-bottom: 6px;
    }

    &__select {
        margin-right: 20px;
    }

    &__select-option {
    }

    &__price {
        flex-shrink: 0;
        text-align: right;
    }

    &__price-old {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-decoration: line-through;
        color: #ED1C24;

        @media screen and (max-width: $md4 + px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__price-new {
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        color: #1DC9B7;

        @media screen and (max-width: $md4 + px) {
            font-size: 20px;
            line-height: 25px;
        }
    }

    &__button {
        margin-top: 15px;
    }
}
