@import '../mixins';
@import '../variables';

.tarifs-wrapper {
    & > *:nth-child(1) {
        grid-area: tarif-1;
    }
    & > *:nth-child(2) {
        grid-area: tarif-2;
    }
    & > *:nth-child(3) {
        grid-area: tarif-3;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        'tarif-1 tarif-2 tarif-3';
    justify-content: center;
    justify-items: center;
    column-gap: 40px;
    row-gap: 40px;

    @media screen and (max-width: 1290px) {
        grid-template-columns: repeat(2, minmax(290px, max-content));
        grid-template-areas:
            'tarif-1 tarif-2'
            'tarif-3 tarif-3';
    }
    @media screen and (max-width: $md3 + px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            'tarif-1'
            'tarif-2'
            'tarif-3';
    }
}