@import '../mixins';
@import '../variables';

.task {

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 30px;
    }

    &__status {
        flex: 0 1 63%;
    }

    &__action-block {
        flex: 0 1 29.86%;
        text-align: center;
    }

    &__button {
        
    }
}
