@import '../mixins';
@import '../variables';

.wait-block {
    text-align: center;

    &__img {
        margin-bottom: 23px;

        @media screen and (max-width: $md4 + px) {
            margin-bottom: 15px;
        }

        img {
            @media screen and (max-width: $md4 + px) {
                width: 45px;
            }
        }
    }

    &__text {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #A0A0A0;

        margin: 0;

        @media screen and (max-width: $md4 + px) {
            font-size: 12px;
            line-height: 16px;
        }
    }
}