
// Mixin for quick including fonts .woff and .woff2 in gulpfile.js

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

// Mixin for visually-hidden class

@mixin visually-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// Mixin for custom outline on focused elements

@mixin focus-outline() {
    outline: 3px solid $outline-color;
    outline-offset: 2px;
}

// Mixin for remove custom outline

@mixin no-focus-outline() {
    outline: 0;
}