// === MIXINS ==========================================
@import 'mixins';
// ==========================================


// === FONTS ==========================================
// Including fonts
// &display=swap&subset=cyrillic-ext  -  Google Fonts cyrillic (suffix on URL)

@import 'fonts';

// Default font
$defaultFont: "Arial";
// ==========================================


// === VARIABLES ==========================================
$maxContainerWidth: 1170;
$md1: $maxContainerWidth + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$outlineColor: #42a0da;
// ==========================================


// === NULL & GENERAL ==========================================
@import 'null';
body {
    font-family: $defaultFont, sans-serif;
    font-size: 14px;
    color: #000;
    &._lock {
        overflow: hidden;
    }
}
._visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
._display-none {
    display: none;
}
._focus-outline:focus {
    outline: 3px solid $outlineColor;
    outline-offset: 2px;
}

// Sticky footer
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex: 1;
}
// ==========================================



// === GRID & CONTAINER ==========================================
._container {
    max-width: $maxContainerWidth + px;
    margin: 0 auto;
    @media screen and (max-width: $md1+px) {
        max-width: 970px;
    }
    @media screen and (max-width: $md2+px) {
        max-width: 750px;
    }
    @media screen and (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}
// ==========================================


// === FORMS & OTHER STYLES ==========================================
@import 'forms';
@import 'checkbox';
@import 'popup';
// ==========================================

