


// MIXINS 



@import 'mixins';



// FONTS



// Google fonts imports

// Cyrillic support (add this suffix on URL)
// &display=swap&subset=cyrillic-ext

// Including file with @font-face

@import 'fonts';



// VARIABLES



// Default font

$defaultFont: "Arial";

// Maximum container width

$max-container-width: 1170;

// Media breakpoints

$md1: $max-container-width + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Color for custom outline

$outline-color: #42a0da;



// NULL & GENERAL



@import 'null';

body {
    font-family: $defaultFont, sans-serif;
    font-size: 14px;
    color: #000;

    // _lock class for antiscroll when menu is opened

    &._lock {
        overflow: hidden;
    }

    // Sticky footer

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main {
        flex: 1;
    }
}

// _visually-hidden class for elements like default checkbox (it should not be visible, but it should be!)

._visually-hidden {
    @include visually-hidden();
}

// _focus-outline class for elements, needed custom outline

._focus-outline:focus {
    @include focus-outline();
}

// setting 'outline: none' for elements, which are on focus, but not by keyboard

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}



// GRID & CONTAINER



._container {
    max-width: $max-container-width + px;
    margin: 0 auto;
    @media screen and (max-width: $md1+px) {
        max-width: 970px;
    }
    @media screen and (max-width: $md2+px) {
        max-width: 750px;
    }
    @media screen and (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}



// FORMS & OTHER STYLES



@import 'forms';
@import 'checkbox';
@import 'popup';

@import 'header';
@import 'footer';



// OTHER



