
// Default font
$defaultFont: "Arial";

// Color for custom outline
$outline-color: #42a0da;

// Maximum container width
$max-container-width: 1170;

// Media breakpoints
$md1: $max-container-width + 12;
$md2: 992;
$md3: 768;
$md4: 480;